### B.Thanushan
### Spetember 2021

In [1]:
#impoting pandas package
import pandas as pd

In [2]:
#read the male text file and save it in a pandas dataframe
df_males = pd.read_csv('male.txt', delimiter =' ', header = None, names= ['names'])

In [3]:
df_males.head(10)

        names
0      චමුදිත
1      එඩ්වඩ්
2       ජයදේශ
3  ක්‍රිෂාන්ත
4        චතුර
5     ධර්මදාස
6       චන්දන
7    මොහිදීන්
8      මධුසංඛ
9        කමල්

In [4]:
#take the size of the male names
df_males.size

246

In [5]:
#create a list of 1's as the size of the male names 
male_labels = [1]*df_males.size # crea
male_labels

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [6]:
#create a column for the label and pass the list of 1's to it, here we label the males names as 1
df_males['label'] = male_labels

In [7]:
df_males

          names  label
0        චමුදිත      1
1        එඩ්වඩ්      1
2         ජයදේශ      1
3    ක්‍රිෂාන්ත      1
4          චතුර      1
..          ...    ...
241    ස්ටැන්ලි      1
242      කීර්ති      1
243      විශ්වා      1
244       ආත්මා      1
245      ගාමිණී      1

[246 rows x 2 columns]

In [8]:
#read the female text file and save it in a pandas dataframe
df_females = pd.read_csv('female.txt',delimiter = " ", names=['names'])
df_females

        names
0       පතිනි
1       ගයංගා
2      දිනිඳි
3      ජිත්මි
4    දෙව්මිණි
..        ...
206     හර්ෂි
207    මැණිකේ
208  මරියසෙල්
209    මානෙල්
210    කුසුම්

[211 rows x 1 columns]

In [9]:
#create a list of 0's as the size of the female names 
female_labels = [0]*df_females.size

In [10]:
#create a column for the label and pass the list of 0's to it, here we label the females names as 0
df_females['label']=female_labels

In [11]:
df_females

        names  label
0       පතිනි      0
1       ගයංගා      0
2      දිනිඳි      0
3      ජිත්මි      0
4    දෙව්මිණි      0
..        ...    ...
206     හර්ෂි      0
207    මැණිකේ      0
208  මරියසෙල්      0
209    මානෙල්      0
210    කුසුම්      0

[211 rows x 2 columns]

In [12]:
#append both male and female datafam together
Data = df_males.append(df_females)
Data

          names  label
0        චමුදිත      1
1        එඩ්වඩ්      1
2         ජයදේශ      1
3    ක්‍රිෂාන්ත      1
4          චතුර      1
..          ...    ...
206       හර්ෂි      0
207      මැණිකේ      0
208    මරියසෙල්      0
209      මානෙල්      0
210      කුසුම්      0

[457 rows x 2 columns]

In [13]:
from sklearn.utils import shuffle

# shuffle the dataframe
data = shuffle(Data, random_state=0)
data = data.reset_index(drop=True)#to reset the index of the new dataframe
data.head(20)

         names  label
0         අතුල      1
1        ශර්ලි      1
2        අරුණි      0
3        ලහිරු      1
4     ප්‍රභාත්      1
5          ලතා      0
6       විනාලි      0
7        ලයනල්      1
8        පසිඳු      1
9         සනත්      1
10        චාමර      1
11        අනුර      1
12  දිනේෂ්ෂාන්      1
13       ධනපාල      1
14   සුනේත්‍රා      0
15     නිර්මලා      0
16        සමන්      1
17      කුසුම්      0
18        රමෝල      1
19      වෙරංගි      0

In [14]:
data.dtypes

names    object
label     int64
dtype: object

In [15]:
data.head()

      names  label
0      අතුල      1
1     ශර්ලි      1
2     අරුණි      0
3     ලහිරු      1
4  ප්‍රභාත්      1

In [16]:
#get all the names of to the names feature
names_features  = data['names']
names_features

0          අතුල
1         ශර්ලි
2         අරුණි
3         ලහිරු
4      ප්‍රභාත්
         ...
452       උදාරා
453       ලලිත්
454       නාගිත
455       අජන්ත
456      දුලාන්
Name: names, Length: 457, dtype: object

In [17]:
#import the count vectorizer 
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
vectorizer = CountVectorizer(encoding='utf-8',strip_accents='unicode') #define the vectorizer
X = vectorizer.fit_transform(names_features) #transform the features in numerical form

In [19]:
vectorizer.get_feature_names()

['අකල',
 'අචල',
 'අජ',
 'අජනත',
 'අත',
 'අද',
 'අන',
 'අම',
 'අමර',
 'අමරස',
 'අයනත',
 'අර',
 'අරව',
 'අවනත',
 'අස',
 'ආතම',
 'ආනනද',
 'ආමනත',
 'ආස',
 'ඇනටන',
 'ඇනතන',
 'ඇනසල',
 'ඉන',
 'ඉනද',
 'ඉඳ',
 'ඉම',
 'ඉමලක',
 'ඉර',
 'ඉෂ',
 'ඉස',
 'උද',
 'උදය',
 'උප',
 'උපම',
 'උමය',
 'උර',
 'උෂ',
 'එඩවඩ',
 'එරනද',
 'ඔලබන',
 'ඕෂ',
 'කටර',
 'කමණ',
 'කමන',
 'කමල',
 'කල',
 'කලප',
 'කලපන',
 'කලහ',
 'කව',
 'කෂ',
 'කස',
 'කසන',
 'කසව',
 'කළ',
 'කළණ',
 'ගන',
 'ගය',
 'ගයත',
 'ගයනත',
 'ගර',
 'ගල',
 'චත',
 'චන',
 'චනද',
 'චනදන',
 'චම',
 'චමත',
 'චමප',
 'චර',
 'ජගත',
 'ජත',
 'ජන',
 'ජය',
 'ජයද',
 'ජයන',
 'ජයලත',
 'ජල',
 'ජස',
 'ණද',
 'තක',
 'තන',
 'තම',
 'තර',
 'තස',
 'දත',
 'දද',
 'දධ',
 'දම',
 'දමයනත',
 'දමසත',
 'දය',
 'දරශන',
 'ධන',
 'ධනප',
 'ධමම',
 'ධර',
 'ධරමද',
 'ධරමප',
 'ධරමස',
 'ධව',
 'නක',
 'නත',
 'නතක',
 'නද',
 'නදන',
 'නනද',
 'නනදන',
 'නම',
 'නර',
 'නල',
 'නව',
 'නස',
 'පත',
 'පරල',
 'පරස',
 'පව',
 'පස',
 'බණඩ',
 'බනද',
 'බනධ',
 'මද',
 'මධ',
 'මන',
 'මම',
 'මර',
 'මරව',
 'මරස',
 'මල',
 'මලක',
 'මලල',
 'මව',
 'මසර',
 'මහ',
 'යක',
 'යදරශන',
 'යනත',
 'යම',
 'යශ',
 'යස',
 'යසසම',
 'රක',
 'රච',
 'රජ',
 'රත',
 'රතන',
 'රද',
 'රධ',
 'රන',
 'රනජන',
 'රනද',
 'රනස',
 'රබ',
 'රභ',
 'රම',
 'රමල',
 'රල',
 'රව',
 'රශම',
 'රෂ',
 'රෂම',
 'රස',
 'ලක',
 'ලකම',
 'ලකෂ',
 'ලකෂමන',
 'ලකස',
 'ලටන',
 'ලත',
 'ලන',
 'ලම',
 'ලය',
 'ලයනල',
 'ලල',
 'ලශ',
 'ලසන',
 'ලසනත',
 'ලහ',
 'වතසල',
 'වන',
 'වනත',
 'වම',
 'වර',
 'වසනත',
 'ශමම',
 'ශරල',
 'ශව',
 'ශෂ',
 'ෂක',
 'ෂන',
 'ෂම',
 'ෂරම',
 'ෂල',
 'ෂෂ',
 'සච',
 'සජ',
 'සට',
 'සත',
 'සතසරණ',
 'සන',
 'සනත',
 'සනධ',
 'සම',
 'සමන',
 'සමනඩ',
 'සමනත',
 'සමපත',
 'සය',
 'සල',
 'සව',
 'සවරණ',
 'සවරණලත',
 'සශ',
 'සස',
 'සහන',
 'හනස',
 'හර',
 'හරෂ',
 'හරෂණ',
 'හෂ',
 'හස',
 'හසනත']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
Y = data['label']

In [22]:
#split the dataset into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3,random_state=20)

In [23]:
#classifiers
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier

In [24]:
from sklearn.metrics import confusion_matrix

In [25]:
from sklearn import metrics
import numpy as np

# Define function to calculate the 4 common mertics
def get_metrics(true_labels, predicted_labels):
    
    print('Accuracy:', np.round(
                        metrics.accuracy_score(true_labels, 
                                               predicted_labels),
                        2))
    print('Precision:', np.round(
                        metrics.precision_score(true_labels, 
                                               predicted_labels,
                                               average='weighted'),
                        2))
    print('Recall:', np.round(
                        metrics.recall_score(true_labels, 
                                               predicted_labels,
                                               average='weighted'),
                        2))
    print('F1 Score:', np.round(
                        metrics.f1_score(true_labels, 
                                               predicted_labels,
                                               average='weighted'),
                        2))

In [26]:
#define the classifiers
mnb = MultinomialNB()
svm = SGDClassifier(loss='hinge', max_iter=100)

In [27]:
#fit the multinomial naive bayes classifer
mnb.fit(X_train,Y_train)

MultinomialNB()

In [28]:
#predict the test data using naive bayes classifer
mnb_predictions = mnb.predict(X_test)

In [29]:
#call the get metrics function to get the evaluation metrics
get_metrics(true_labels=Y_test,predicted_labels=mnb_predictions)

Accuracy: 0.55
Precision: 0.55
Recall: 0.55
F1 Score: 0.48

In [30]:
#get the confusion matrix
confusion_matrix(Y_test,mnb_predictions)

array([[11, 53],
       [ 9, 65]], dtype=int64)

In [31]:
#train the svm classifer using training data
svm.fit(X_train,Y_train)

SGDClassifier(max_iter=100)

In [32]:
#predict the test data using Svm
svm_predictions = svm.predict(X_test)

In [33]:
#call the get matrix function to get the evaluation matrix
get_metrics(true_labels=Y_test,predicted_labels=svm_predictions)

Accuracy: 0.48
Precision: 0.5
Recall: 0.48
F1 Score: 0.43

In [34]:
#get the confusion matrix of svm
confusion_matrix(Y_test,svm_predictions)

array([[50, 14],
       [58, 16]], dtype=int64)

We can see that the accuracy, precision, recall and f1 score are not good for both naive bayes and SVM classifier. Therefore let's try consider last two letters as they best indicators for names in sinhala.

In [35]:
#import the re 
import re

In [36]:
#get the list of all the letters in the names using pattern, this is because if we try to get the last two letters directly
#it shows the part of a chracter and that is misleading so we use pattern to get all the letters and then combine them to get the last two letters
names_list = [re.findall(r'\w\W?',name) for name in data['names']]
names_list

[['අ', 'තු', 'ල'],
 ['ශ', 'ර්', 'ලි'],
 ['අ', 'රු', 'ණි'],
 ['ල', 'හි', 'රු'],
 ['ප්', 'ර', 'භා', 'ත්'],
 ['ල', 'තා'],
 ['වි', 'නා', 'ලි'],
 ['ල', 'ය', 'න', 'ල්'],
 ['ප', 'සි', 'ඳු'],
 ['ස', 'න', 'ත්'],
 ['චා', 'ම', 'ර'],
 ['අ', 'නු', 'ර'],
 ['දි', 'නේ', 'ෂ්', 'ෂා', 'න්'],
 ['ධ', 'න', 'පා', 'ල'],
 ['සු', 'නේ', 'ත්', 'රා'],
 ['නි', 'ර්', 'ම', 'ලා'],
 ['ස', 'ම', 'න්'],
 ['කු', 'සු', 'ම්'],
 ['ර', 'මෝ', 'ල'],
 ['වෙ', 'රං', 'ගි'],
 ['එ', 'ඩ්', 'ව', 'ඩ්'],
 ['ලු', 'ලි', 'ත'],
 ['ර', 'ෂි', 'න්', 'ත', 'ක'],
 ['ක', 'ල්', 'හා', 'රි'],
 ['ස', 'ලී', 'ම්'],
 ['ටෙ', 'ෂා', 'න්', 'ත'],
 ['මි', 'හි', 'රා', 'නි'],
 ['අ', 'ය', 'න්', 'ති', 'කා'],
 ['ම', 'හි', 'ම'],
 ['නි', 'ලූ', 'කා'],
 ['මා', 'ලි', 'ක'],
 ['ක', 'ළ', 'ණ'],
 ['ච', 'න්', 'ද්', 'ර', 'ලේ', 'ඛා'],
 ['ක', 'ම', 'නි', 'කා'],
 ['ජි', 'ත්', 'මි'],
 ['මා', 'ල', 'තී'],
 ['ව', 'ස', 'න්', 'තා'],
 ['ජි', 'නා', 'ගි'],
 ['රු', 'ක්', 'ම', 'ණී'],
 ['නෙ', 'ල්', 'ස', 'න්'],
 ['ච', 'තු', 'රා', 'දි'],
 ['ෆ්', 'රෙ', 'ඩී'],
 ['වි', 'රා', 'ජ්'],
 ['නි', 'ශා', 'න්', 'ත'],
 ['වෙ', 'රෝ', 'ෂා'],
 ['ක', 'ම', 'ලා'],
 ['ග', 'යං', 'ගා'],
 ['ක්', 'රි', 'ස්', 'ටෝ', 'ප'],
 ['මා', 'ධ', 'වී'],
 ['න', 'දී', 'කා'],
 ['සං', 'ජි', 'ත'],
 ['මා', 'යා'],
 ['ම', 'හේ', 'ෂි', 'කා'],
 ['ල', 'ස', 'න්', 'ති', 'කා'],
 ['ච', 'රි', 'න්', 'ද්', 'රා'],
 ['ච', 'මි', 'ල'],
 ['සු', 'රේ', 'න්', 'ද්', 'ර'],
 ['ර', 'ජී', 'ව'],
 ['ච', 'න්', 'ද', 'න'],
 ['ශ්', 'යා', 'මා'],
 ['ස', 'ජා', 'නි'],
 ['ච', 'ම', 'ත්'],
 ['ර', 'වි', 'ඳු'],
 ['වි', 'න්', 'ද', 'න'],
 ['ඩි', 'ලා', 'නි'],
 ['මැ', 'ණි', 'කේ'],
 ['ජ', 'ය', 'නා', 'ත්'],
 ['නා', 'ම', 'ල්'],
 ['ගි', 'ම්', 'හා', 'න්'],
 ['එ', 'ර', 'න්', 'දි'],
 ['ෂා', 'න්'],
 ['ච', 'න්', 'ද්', 'රි', 'කා'],
 ['වි', 'න්', 'ද්', 'යා'],
 ['උ', 'ද', 'යං', 'ග'],
 ['වි', 'රා', 'ජි', 'නී'],
 ['අ', 'ජි', 'ත්'],
 ['ප', 'ර්', 'ල්'],
 ['රා', 'ජි', 'ත'],
 ['මං', 'ජු', 'රී'],
 ['ජ', 'ය', 'ල', 'ත්'],
 ['ස', 'ලී', 'කා'],
 ['හි', 'රා', 'න්'],
 ['නි', 'සං', 'ස', 'ලා'],
 ['පු', 'න්', 'සි', 'රි'],
 ['අ', 'සි', 'ත'],
 ['මා', 'ධ', 'ව'],
 ['සු', 'දා', 'ර', 'ක'],
 ['දෙ', 'ව්', 'මි', 'ණි'],
 ['ච', 'න්', 'ද්', 'ර', 'කු', 'මා', 'ර'],
 ['හි', 'මා', 'ලි'],
 ['ඡා', 'යා'],
 ['ස', 'න්', 'තු', 'ෂ්'],
 ['හ', 'රූ', 'න්'],
 ['ර', 'ෂ්', 'මි', 'කා'],
 ['හි', 'මා', 'ල්'],
 ['අ', 'රු', 'ණ'],
 ['සු', 'ජි', 'ත්'],
 ['ය', 'ශෝ', 'ධ'],
 ['නි', 'ම', 'ල්'],
 ['සු', 'ම', 'නා'],
 ['ප්', 'රි', 'ය', 'ද', 'ර්', 'ශ', 'නී'],
 ['ච', 'තු', 'ර'],
 ['චූ', 'ල', 'නී'],
 ['කි', 'ත්', 'සි', 'රි'],
 ['අ', 'ච', 'ල'],
 ['ල', 'ක්', 'ෂ්', 'මි'],
 ['ම', 'ධු', 'සං', 'ඛ'],
 ['රො', 'ෂා', 'නි'],
 ['ධ', 'ර්', 'ම', 'දා', 'ස'],
 ['ච', 'මි', 'ලා'],
 ['ව', 'ත්', 'ස', 'ලා'],
 ['ප්', 'ර', 'දී', 'ප්'],
 ['මො', 'හි', 'දී', 'න්'],
 ['ප', 'ති', 'නි'],
 ['හ', 'ෂි', 'න්', 'ති'],
 ['ර', 'ජී', 'ව්'],
 ['නා', 'ර', 'ද'],
 ['ස', 'යු', 'රි'],
 ['සේ', 'වි', 'න්', 'ද'],
 ['දි', 'ස්', 'නා'],
 ['වි', 'ම', 'ලා'],
 ['ප්', 'ර', 'සා', 'න්'],
 ['ච', 'ම්', 'පා'],
 ['ද', 'ර්', 'ශ', 'නී'],
 ['ත', 'මා', 'රා'],
 ['සු', 'නි', 'ල්'],
 ['ය', 'ස', 'ස්', 'මි'],
 ['ඉ', 'සු', 'රු'],
 ['යු', 'රේ', 'ෂ්'],
 ['ධ', 'ම්', 'මි', 'ක'],
 ['ච', 'මි', 'න්', 'ද'],
 ['ම', 'ලි', 'ක්'],
 ['ක', 'ල්', 'ප', 'නා'],
 ['ස', 'චි', 'නි'],
 ['ධ', 'ර්', 'ම', 'ප්', 'රි', 'ය'],
 ['හ', 'සි', 'නි'],
 ['යු', 'හ', 'න්', 'සා'],
 ['නි', 'ම්', 'මි'],
 ['ර', 'න්', 'දි', 'ල්'],
 ['ෂ', 'ර්', 'මි', 'ලා'],
 ['චි', 'ත්', 'රා'],
 ['නි', 'රං', 'ජ', 'ලා'],
 ['නි', 'රෝ', 'ෂා'],
 ['වා', 'ස', 'නා'],
 ['උ', 'ද', 'යං', 'ග', 'නී'],
 ['භා', 'ති', 'ය'],
 ['ජී', 'ව', 'නී'],
 ['වි', 'ජ', 'ය'],
 ['මි', 'ලි', 'ෂා'],
 ['නි', 'ෂා', 'දි'],
 ['බි', 'යං', 'කා'],
 ['ප්', 'ර', 'බෝ', 'ධා'],
 ['දේ', 'වි', 'න්', 'ද'],
 ['ඩි', 'ල්', 'ශා', 'නි'],
 ['ජි', 'න', 'දා', 'ස'],
 ['ච', 'තු', 'මි', 'ණී'],
 ['ප්', 'ර', 'මෝ', 'ද්', 'යා'],
 ['ප්', 'ර', 'මෝ', 'දා'],
 ['ල', 'ස', 'න්', 'ත'],
 ['ගි', 'හා', 'න්'],
 ['ති', 'ල', 'ක්'],
 ['අ', 'මි', 'ත්'],
 ['රං', 'ග'],
 ['අ', 'ම', 'ර', 'සි', 'රි'],
 ['ස්', 'ටැ', 'න්', 'ලි'],
 ['ඉ', 'න්', 'ද්', 'ර', 'චා', 'ප'],
 ['ගා', 'මි', 'ණී'],
 ['බ', 'න්', 'දු', 'ල'],
 ['මා', 'ල', 'නී'],
 ['සු', 'සි', 'ලා'],
 ['න', 'වි', 'ඳු'],
 ['ප්', 'රි', 'ය', 'න්', 'ත'],
 ['ත', 'නු', 'ජි', 'කා'],
 ['ස', 'මු', 'ද්', 'දි', 'කා'],
 ['ලා', 'ව', 'න්', 'යා'],
 ['ස', 'හ', 'න්'],
 ['න', 'මි', 'න්', 'ද'],
 ['අ', 'නු', 'ෂ්', 'ක'],
 ['ක්', 'රි', 'ස්', 'ටි'],
 ['ගී', 'ත', 'ක'],
 ['ෂෙ', 'ල්', 'ට', 'න්'],
 ['අ', 'නි', 'ල', 'ක'],
 ['නේ', 'මි', 'න්', 'ද'],
 ['උ', 'රේ', 'ෂා'],
 ['නි', 'ල්', 'මි', 'ණි'],
 ['ර', 'න්', 'ජ', 'න්'],
 ['නෙ', 'ලූ'],
 ['ල', 'ලි', 'න්'],
 ['සු', 'රං', 'ග'],
 ['ර', 'ෂී', 'මා'],
 ['ඉ', 'ෂා', 'ක්'],
 ['ඇ', 'න්', 'ත', 'නී'],
 ['ල', 'යා', 'න්'],
 ['රා', 'ණි'],
 ['ල', 'ක්', 'ෂි', 'කා'],
 ['මි', 'යු', 'රු'],
 ['දු', 'මි', 'න්', 'ද'],
 ['නෙ', 'ත්', 'මි'],
 ['ක', 'ම', 'නි'],
 ['ඔ', 'ල්', 'බ', 'න්'],
 ['ස', 'ශි', 'කා'],
 ['කෞ', 'ෂ', 'ල්', 'ය'],
 ['අ', 'මී', 'ෂා'],
 ['මෙ', 'ල', 'නි'],
 ['සං', 'ජී', 'ව'],
 ['ජැ', 'ක්', 'ස', 'න්'],
 ['ම', 'ල්', 'කා', 'න්', 'ති'],
 ['ඩෙ', 'ස්', 'ම', 'න්', 'ඩ්'],
 ['ච', 'නි', 'ඳු'],
 ['ක', 'සු', 'න්'],
 ['නු', 'ව', 'න්'],
 ['මි', 'ල්', 'ට', 'න්'],
 ['බ', 'න්', 'ධු', 'ල'],
 ['ස', 'ම්', 'ප', 'ත්'],
 ['ම', 'ධු', 'ර'],
 ['ම', 'ධු', 'මා', 'ධ', 'ව'],
 ['දී', 'පි', 'කා'],
 ['ශ්', 'රී', 'ම', 'ලී'],
 ['හ', 'ස', 'න්', 'ති', 'කා'],
 ['දු', 'ලා', 'නි'],
 ['සා', 'ග', 'රි', 'කා'],
 ['ගු', 'ණ', 'දා', 'ස'],
 ['ඉ', 'ෂා', 'නි'],
 ['ජ', 'නි', 'ඳු'],
 ['ධ', 'නි', 'ක'],
 ['ශි', 'රා', 'ණි'],
 ['ති', 'ල', 'ක', 'සි', 'රි'],
 ['වි', 'සු', 'ද්', 'ධි'],
 ['න', 'න්', 'ද', 'න'],
 ['දි', 'ල්', 'ශා', 'න්'],
 ['මා', 'ණි', 'ක්', 'යා'],
 ['දි', 'නේ', 'න්', 'ද්', 'ර'],
 ['ස්', 'ව', 'ර්', 'ණ', 'ල', 'තා'],
 ['ඉ', 'රං', 'ග'],
 ['හ', 'සි', 'ත්'],
 ['හි', 'රු', 'ණි'],
 ['ච', 'න්', 'දි'],
 ['ම', 'ර්', 'වි', 'න්'],
 ['ස', 'ම', 'න්', 'ති'],
 ['පෙ', 'ත්', 'මි'],
 ['දු', 'මි', 'ඳු'],
 ['ප', 'වි', 'ත්', 'රා'],
 ['ප්', 'ර', 'මු', 'ත්'],
 ['ජ', 'ය', 'දේ', 'ශ'],
 ['ඇ', 'න', 'ස්', 'ලි'],
 ['ල', 'ලි', 'කා'],
 ['දු', 'වි', 'ෂ්', 'ක'],
 ['ඉ', 'සු', 'රි'],
 ['ජ', 'සි', 'න්', 'තා'],
 ['ප', 'ර්', 'සි'],
 ['ති', 'ලං', 'කා'],
 ['උ', 'දි', 'ත'],
 ['ප්', 'රි', 'න්', 'ස්'],
 ['ගැ', 'මු', 'ණු'],
 ['ර', 'ශ්', 'මි'],
 ['ග', 'ය', 'ත්', 'රී'],
 ['හ', 'ර්', 'ෂි'],
 ['අ', 'ර', 'වි', 'න්', 'ද'],
 ['ර', 'ධි', 'කා'],
 ['ක', 'ළි', 'ඟු'],
 ['ද', 'යා', 'ර', 'ත්', 'න'],
 ['වා', 'සු', 'ල'],
 ['ආ', 'සි', 'රි'],
 ['මි', 'යු', 'රි', 'කා'],
 ['සේ', 'නා', 'නා', 'ය', 'ක'],
 ['සු', 'ද', 'ත්'],
 ['සි', 'සි', 'ර'],
 ['ස', 'නු', 'ක'],
 ['සං', 'ගී', 'ත්'],
 ['ති', 'ලි', 'ණ'],
 ['ආ', 'න', 'න්', 'ද'],
 ['බි', 'නූ', 'ෂා'],
 ['ර', 'ම්', 'යා'],
 ['නෙ', 'යො', 'මා', 'ල්'],
 ['ම', 'ල්', 'කි'],
 ['උ', 'ෂා', 'න්'],
 ['ඉ', 'මා', 'ෂි'],
 ['චා', 'ම', 'රී'],
 ['ක්', 'ලැ', 'ර', 'න්', 'ස්'],
 ['ම', 'දු', 'මා', 'ලි'],
 ['දු', 'ෂා', 'නි'],
 ['ධ', 'ර්', 'ම', 'සි', 'රි'],
 ['ජා', 'න', 'ක'],
 ['අ', 'දී', 'ශා', 'න්'],
 ['ම', 'රි', 'ය', 'සෙ', 'ල්'],
 ['හි', 'රු', 'ෂි'],
 ['උ', 'දා', 'ර'],
 ['තු', 'ෂා', 'ර'],
 ['දී', 'ප්', 'ත'],
 ['ශ', 'ම්', 'මි', 'ක'],
 ['ම', 'ල්', 'ලි', 'කා'],
 ['ර', 'වී', 'න්', 'ද්', 'ර'],
 ['ශ', 'ෂි', 'කා'],
 ['අ', 'රූ', 'න්'],
 ['හෙ', 'න්', 'රි'],
 ['නී', 'ලා'],
 ['ති', 'ෂා', 'නි'],
 ['ක', 'ලා', 'නි'],
 ['දි', 'නි', 'ඳි'],
 ['ධ', 'ම්', 'මි', 'කා'],
 ['රා', 'ජු'],
 ['ප්', 'රි', 'යා'],
 ['බු', 'ද්', 'ධි', 'නී'],
 ['ය', 'ශෝ', 'ධ', 'ර'],
 ['ච', 'රි', 'තා'],
 ['ක්', 'රි', 'ෂා', 'න්', 'ත'],
 ['රි', 'ෂ්', 'නි', 'කා'],
 ['ච', 'රි', 'ත්'],
 ['ය', 'මා', 'යා'],
 ['ඉ', 'න්', 'දි', 'කා'],
 ['ග්', 'රැ', 'න්', 'වි', 'ල්'],
 ['ත', 'රි', 'ඳු'],
 ['ච', 'තු', 'රං', 'ගි'],
 ['ව', 'ස', 'න්', 'ති'],
 ['ර', 'ෂි', 'නි'],
 ['ගෞ', 'රි'],
 ['රු', 'ව', 'න්', 'ති'],
 ['දි', 'ලු', 'ක්', 'ෂ'],
 ['අ', 'නූ', 'ෂා'],
 ['වි', 'ක්', 'ට', 'ර්'],
 ['උ', 'ප', 'මා', 'ලි'],
 ['ඉ', 'ම', 'ල්', 'කා'],
 ['චා', 'න', 'ක'],
 ['ස', 'වි', 'න්', 'දි'],
 ['ස', 'ජි', 'ත්'],
 ['ක', 'වි', 'නි'],
 ['නි', 'රෝ', 'ෂ', 'න්'],
 ['ද', 'ම', 'ය', 'න්', 'ති'],
 ['දෙ', 'නු', 'ව', 'න්'],
 ['මු', 'දි', 'ත'],
 ['අ', 'නු', 'ලා'],
 ['දි', 'නෙ', 'ත්'],
 ['වි', 'ම', 'ල්'],
 ['රු', 'ව', 'නි'],
 ['සු', 'ජ', 'තා'],
 ['අ', 'නු', 'ෂ්', 'කා'],
 ['ආ', 'ම', 'න්', 'ත'],
 ['වි', 'දු', 'ර'],
 ['ඉ', 'න්', 'ද්', 'ර', 'ජි', 'ත්'],
 ['ප්', 'රේ', 'මා'],
 ['ර', 'නි', 'ඳු'],
 ['ද', 'ර්', 'ශ', 'න'],
 ['ච', 'තු', 'රං', 'ග'],
 ['අ', 'සං', 'ක'],
 ['ච', 'මු', 'දි', 'ත'],
 ['ල', 'ක්', 'ෂා', 'න්'],
 ['හ', 'ර්', 'ෂ', 'ණී'],
 ['ජී', 'ව', 'න'],
 ['ජී', 'ව', 'න්', 'ති'],
 ['දේ', 'ශා', 'නි'],
 ['ශා', 'ලි', 'ත'],
 ['සං', 'කි', 'නී'],
 ['රු', 'ව', 'න්'],
 ['ම', 'ර්', 'සි'],
 ['බු', 'ද්', 'ධි', 'ක'],
 ['ඉ', 'න්', 'ද්', 'රා', 'නි'],
 ['ල', 'ක්', 'ෂ්', 'ම', 'න්'],
 ['ර', 'මි', 'ඳු'],
 ['දි', 'නේ', 'ෂා'],
 ['වා', 'ස', 'ල'],
 ['මං', 'ජු', 'ලා'],
 ['ශා', 'න්', 'ත'],
 ['සු', 'භා', 'ෂි', 'ණි'],
 ['කි', 'ස්', 'ලි'],
 ['ල', 'ක්', 'මා', 'ල්'],
 ['දී', 'පා', 'ල්'],
 ['ඉ', 'න්', 'ද්', 'රා'],
 ['ලූ', 'ෂ', 'න්'],
 ['නේ', 'රං', 'ජා'],
 ['න', 'දී', 'ක'],
 ['රං', 'ග', 'නී'],
 ['මා', 'නෙ', 'ල්'],
 ['ස', 'මි', 'තා'],
 ['උ', 'ෂා', 'නි'],
 ['යො', 'හා', 'න්'],
 ['ජ', 'ග', 'ත්'],
 ['උ', 'ද', 'ය'],
 ['නි', 'ම්', 'ස', 'රා'],
 ['සු', 'න', 'න්', 'දා'],
 ['ද', 'යා', 'න්'],
 ['ම', 'වි', 'න්', 'ද'],
 ['ග', 'ය', 'න්', 'තා'],
 ['සු', 'දී', 'ප'],
 ['දි', 'ව්', 'යා', 'ජ', 'ලී'],
 ['සං', 'ච', 'නා'],
 ['දි', 'ල්', 'හා', 'ර'],
 ['උ', 'දා', 'රි'],
 ['දු', 'ලා', 'රි'],
 ['අ', 'ම', 'රා'],
 ['ඕ', 'ෂි', 'නී'],
 ['රූ', 'කා', 'න්', 'ත'],
 ['අ', 'ක', 'ලං', 'ක'],
 ['න', 'දී', 'ෂා'],
 ['යො', 'හා', 'නා'],
 ['මු', 'දි', 'තා'],
 ['ඉ', 'රේ', 'ෂි', 'කා'],
 ['සු', 'රා', 'ජ්'],
 ['නු', 'ව', 'න්', 'තා', 'රා'],
 ['බ', 'ණ්', 'ඩා', 'ර'],
 ['ග', 'යා', 'ෂා'],
 ['ක', 'වි', 'ඳු'],
 ['ශා', 'රං', 'ගි'],
 ['උ', 'පේ', 'ක්', 'ෂ'],
 ['ද', 'මි', 'ත්'],
 ['අ', 'ව', 'න්', 'ති'],
 ['චූ', 'ලං', 'ග'],
 ['ක', 'ල්', 'ප'],
 ['ආ', 'ත්', 'මා'],
 ['න', 'දු', 'න්'],
 ['ද', 'ම්', 'ස', 'ත්'],
 ['ස', 'සං', 'ක'],
 ['කු', 'මා', 'ර'],
 ['සා', 'ග', 'ර'],
 ['ශ්', 'යා', 'මි'],
 ['උ', 'පා', 'ලි'],
 ['ස්', 'ව', 'ර්', 'ණා'],
 ['උ', 'ම', 'යං', 'ග', 'නී'],
 ['ධ', 'නු', 'ෂ්', 'ක'],
 ['මං', 'ග', 'ලි', 'කා'],
 ['කු', 'මා', 'රි'],
 ['ඉ', 'රා', 'ජ්'],
 ['චි', 'න්', 'ත', 'ක'],
 ['හං', 'සි', 'කා'],
 ['ප්', 'ර', 'සා', 'දි'],
 ['ක', 'ල්', 'හා', 'ර'],
 ['වි', 'ශ්', 'වා'],
 ['ඇ', 'න්', 'ට', 'න්'],
 ['ස', 'න්', 'ධ්', 'යා'],
 ['ශ්', 'රී', 'මා', 'ලී'],
 ['ඉ', 'ඳු', 'ව', 'ර'],
 ['උ', 'ද', 'යා', 'ග', 'නී'],
 ['න', 'දී', 'න්'],
 ['ස', 'ති', 'ෂ්'],
 ['ර', 'වි', 'ඳු', 'නී'],
 ['ල', 'ක්', 'මි', 'ණී'],
 ['මැ', 'ක්', 'ස්', 'වෙ', 'ල්'],
 ['වි', 'නූ', 'ෂි'],
 ['නි', 'ර්', 'දේ', 'ෂ'],
 ['රො', 'ෂා', 'න්'],
 ['ස', 'ත්', 'ස', 'ර', 'ණි'],
 ['කෙ', 'ත්', 'මි', 'ණි'],
 ['ඉ', 'න්', 'දි', 'ක'],
 ['ක්', 'රි', 'ශා', 'න්', 'ත'],
 ['සු', 'ර', 'ත්'],
 ['අං', 'ජ', 'ලී'],
 ['කී', 'ර්', 'ති'],
 ['ඩි', 'මා', 'ෂා'],
 ['නි', 'හා', 'ල්'],
 ['ක', 'ම', 'ල්'],
 ['ක', 'වී', 'ෂා'],
 ['අ', 'නි', 'ල්'],
 ['දි', 'ල්', 'හා', 'නි'],
 ['උ', 'දා', 'රා'],
 ['ල', 'ලි', 'ත්'],
 ['නා', 'ගි', 'ත'],
 ['අ', 'ජ', 'න්', 'ත'],
 ['දු', 'ලා', 'න්']]

#test to take two letters
for i in names_list:
    k = ''.join(i[-2:])
    print(k)

In [37]:
#define a function to get the last two letters into a list of dictionary 
def lastletters(name):
    list = []
    for i in names_list:
        L_letter = ''.join(i[-1:])
        L2_letter = ''.join(i[-2:])
        list.append({'last_letter' : L_letter,'last2_letters' : L2_letter})
    return list

In [38]:
#now we can get the list of dictionary of last letter and last two letters
data_X = lastletters(names_list)
data_X

[{'last_letter': 'ල', 'last2_letters': 'තුල'},
 {'last_letter': 'ලි', 'last2_letters': 'ර්ලි'},
 {'last_letter': 'ණි', 'last2_letters': 'රුණි'},
 {'last_letter': 'රු', 'last2_letters': 'හිරු'},
 {'last_letter': 'ත්', 'last2_letters': 'භාත්'},
 {'last_letter': 'තා', 'last2_letters': 'ලතා'},
 {'last_letter': 'ලි', 'last2_letters': 'නාලි'},
 {'last_letter': 'ල්', 'last2_letters': 'නල්'},
 {'last_letter': 'ඳු', 'last2_letters': 'සිඳු'},
 {'last_letter': 'ත්', 'last2_letters': 'නත්'},
 {'last_letter': 'ර', 'last2_letters': 'මර'},
 {'last_letter': 'ර', 'last2_letters': 'නුර'},
 {'last_letter': 'න්', 'last2_letters': 'ෂාන්'},
 {'last_letter': 'ල', 'last2_letters': 'පාල'},
 {'last_letter': 'රා', 'last2_letters': 'ත්රා'},
 {'last_letter': 'ලා', 'last2_letters': 'මලා'},
 {'last_letter': 'න්', 'last2_letters': 'මන්'},
 {'last_letter': 'ම්', 'last2_letters': 'සුම්'},
 {'last_letter': 'ල', 'last2_letters': 'මෝල'},
 {'last_letter': 'ගි', 'last2_letters': 'රංගි'},
 {'last_letter': 'ඩ්', 'last2_letters': 'වඩ්'},
 {'last_letter': 'ත', 'last2_letters': 'ලිත'},
 {'last_letter': 'ක', 'last2_letters': 'තක'},
 {'last_letter': 'රි', 'last2_letters': 'හාරි'},
 {'last_letter': 'ම්', 'last2_letters': 'ලීම්'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'නි', 'last2_letters': 'රානි'},
 {'last_letter': 'කා', 'last2_letters': 'තිකා'},
 {'last_letter': 'ම', 'last2_letters': 'හිම'},
 {'last_letter': 'කා', 'last2_letters': 'ලූකා'},
 {'last_letter': 'ක', 'last2_letters': 'ලික'},
 {'last_letter': 'ණ', 'last2_letters': 'ළණ'},
 {'last_letter': 'ඛා', 'last2_letters': 'ලේඛා'},
 {'last_letter': 'කා', 'last2_letters': 'නිකා'},
 {'last_letter': 'මි', 'last2_letters': 'ත්මි'},
 {'last_letter': 'තී', 'last2_letters': 'ලතී'},
 {'last_letter': 'තා', 'last2_letters': 'න්තා'},
 {'last_letter': 'ගි', 'last2_letters': 'නාගි'},
 {'last_letter': 'ණී', 'last2_letters': 'මණී'},
 {'last_letter': 'න්', 'last2_letters': 'සන්'},
 {'last_letter': 'දි', 'last2_letters': 'රාදි'},
 {'last_letter': 'ඩී', 'last2_letters': 'රෙඩී'},
 {'last_letter': 'ජ්', 'last2_letters': 'රාජ්'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'ෂා', 'last2_letters': 'රෝෂා'},
 {'last_letter': 'ලා', 'last2_letters': 'මලා'},
 {'last_letter': 'ගා', 'last2_letters': 'යංගා'},
 {'last_letter': 'ප', 'last2_letters': 'ටෝප'},
 {'last_letter': 'වී', 'last2_letters': 'ධවී'},
 {'last_letter': 'කා', 'last2_letters': 'දීකා'},
 {'last_letter': 'ත', 'last2_letters': 'ජිත'},
 {'last_letter': 'යා', 'last2_letters': 'මායා'},
 {'last_letter': 'කා', 'last2_letters': 'ෂිකා'},
 {'last_letter': 'කා', 'last2_letters': 'තිකා'},
 {'last_letter': 'රා', 'last2_letters': 'ද්රා'},
 {'last_letter': 'ල', 'last2_letters': 'මිල'},
 {'last_letter': 'ර', 'last2_letters': 'ද්ර'},
 {'last_letter': 'ව', 'last2_letters': 'ජීව'},
 {'last_letter': 'න', 'last2_letters': 'දන'},
 {'last_letter': 'මා', 'last2_letters': 'යාමා'},
 {'last_letter': 'නි', 'last2_letters': 'ජානි'},
 {'last_letter': 'ත්', 'last2_letters': 'මත්'},
 {'last_letter': 'ඳු', 'last2_letters': 'විඳු'},
 {'last_letter': 'න', 'last2_letters': 'දන'},
 {'last_letter': 'නි', 'last2_letters': 'ලානි'},
 {'last_letter': 'කේ', 'last2_letters': 'ණිකේ'},
 {'last_letter': 'ත්', 'last2_letters': 'නාත්'},
 {'last_letter': 'ල්', 'last2_letters': 'මල්'},
 {'last_letter': 'න්', 'last2_letters': 'හාන්'},
 {'last_letter': 'දි', 'last2_letters': 'න්දි'},
 {'last_letter': 'න්', 'last2_letters': 'ෂාන්'},
 {'last_letter': 'කා', 'last2_letters': 'රිකා'},
 {'last_letter': 'යා', 'last2_letters': 'ද්යා'},
 {'last_letter': 'ග', 'last2_letters': 'යංග'},
 {'last_letter': 'නී', 'last2_letters': 'ජිනී'},
 {'last_letter': 'ත්', 'last2_letters': 'ජිත්'},
 {'last_letter': 'ල්', 'last2_letters': 'ර්ල්'},
 {'last_letter': 'ත', 'last2_letters': 'ජිත'},
 {'last_letter': 'රී', 'last2_letters': 'ජුරී'},
 {'last_letter': 'ත්', 'last2_letters': 'ලත්'},
 {'last_letter': 'කා', 'last2_letters': 'ලීකා'},
 {'last_letter': 'න්', 'last2_letters': 'රාන්'},
 {'last_letter': 'ලා', 'last2_letters': 'සලා'},
 {'last_letter': 'රි', 'last2_letters': 'සිරි'},
 {'last_letter': 'ත', 'last2_letters': 'සිත'},
 {'last_letter': 'ව', 'last2_letters': 'ධව'},
 {'last_letter': 'ක', 'last2_letters': 'රක'},
 {'last_letter': 'ණි', 'last2_letters': 'මිණි'},
 {'last_letter': 'ර', 'last2_letters': 'මාර'},
 {'last_letter': 'ලි', 'last2_letters': 'මාලි'},
 {'last_letter': 'යා', 'last2_letters': 'ඡායා'},
 {'last_letter': 'ෂ්', 'last2_letters': 'තුෂ්'},
 {'last_letter': 'න්', 'last2_letters': 'රූන්'},
 {'last_letter': 'කා', 'last2_letters': 'මිකා'},
 {'last_letter': 'ල්', 'last2_letters': 'මාල්'},
 {'last_letter': 'ණ', 'last2_letters': 'රුණ'},
 {'last_letter': 'ත්', 'last2_letters': 'ජිත්'},
 {'last_letter': 'ධ', 'last2_letters': 'ශෝධ'},
 {'last_letter': 'ල්', 'last2_letters': 'මල්'},
 {'last_letter': 'නා', 'last2_letters': 'මනා'},
 {'last_letter': 'නී', 'last2_letters': 'ශනී'},
 {'last_letter': 'ර', 'last2_letters': 'තුර'},
 {'last_letter': 'නී', 'last2_letters': 'ලනී'},
 {'last_letter': 'රි', 'last2_letters': 'සිරි'},
 {'last_letter': 'ල', 'last2_letters': 'චල'},
 {'last_letter': 'මි', 'last2_letters': 'ෂ්මි'},
 {'last_letter': 'ඛ', 'last2_letters': 'සංඛ'},
 {'last_letter': 'නි', 'last2_letters': 'ෂානි'},
 {'last_letter': 'ස', 'last2_letters': 'දාස'},
 {'last_letter': 'ලා', 'last2_letters': 'මිලා'},
 {'last_letter': 'ලා', 'last2_letters': 'සලා'},
 {'last_letter': 'ප්', 'last2_letters': 'දීප්'},
 {'last_letter': 'න්', 'last2_letters': 'දීන්'},
 {'last_letter': 'නි', 'last2_letters': 'තිනි'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'ව්', 'last2_letters': 'ජීව්'},
 {'last_letter': 'ද', 'last2_letters': 'රද'},
 {'last_letter': 'රි', 'last2_letters': 'යුරි'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'නා', 'last2_letters': 'ස්නා'},
 {'last_letter': 'ලා', 'last2_letters': 'මලා'},
 {'last_letter': 'න්', 'last2_letters': 'සාන්'},
 {'last_letter': 'පා', 'last2_letters': 'ම්පා'},
 {'last_letter': 'නී', 'last2_letters': 'ශනී'},
 {'last_letter': 'රා', 'last2_letters': 'මාරා'},
 {'last_letter': 'ල්', 'last2_letters': 'නිල්'},
 {'last_letter': 'මි', 'last2_letters': 'ස්මි'},
 {'last_letter': 'රු', 'last2_letters': 'සුරු'},
 {'last_letter': 'ෂ්', 'last2_letters': 'රේෂ්'},
 {'last_letter': 'ක', 'last2_letters': 'මික'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'ක්', 'last2_letters': 'ලික්'},
 {'last_letter': 'නා', 'last2_letters': 'පනා'},
 {'last_letter': 'නි', 'last2_letters': 'චිනි'},
 {'last_letter': 'ය', 'last2_letters': 'රිය'},
 {'last_letter': 'නි', 'last2_letters': 'සිනි'},
 {'last_letter': 'සා', 'last2_letters': 'න්සා'},
 {'last_letter': 'මි', 'last2_letters': 'ම්මි'},
 {'last_letter': 'ල්', 'last2_letters': 'දිල්'},
 {'last_letter': 'ලා', 'last2_letters': 'මිලා'},
 {'last_letter': 'රා', 'last2_letters': 'ත්රා'},
 {'last_letter': 'ලා', 'last2_letters': 'ජලා'},
 {'last_letter': 'ෂා', 'last2_letters': 'රෝෂා'},
 {'last_letter': 'නා', 'last2_letters': 'සනා'},
 {'last_letter': 'නී', 'last2_letters': 'ගනී'},
 {'last_letter': 'ය', 'last2_letters': 'තිය'},
 {'last_letter': 'නී', 'last2_letters': 'වනී'},
 {'last_letter': 'ය', 'last2_letters': 'ජය'},
 {'last_letter': 'ෂා', 'last2_letters': 'ලිෂා'},
 {'last_letter': 'දි', 'last2_letters': 'ෂාදි'},
 {'last_letter': 'කා', 'last2_letters': 'යංකා'},
 {'last_letter': 'ධා', 'last2_letters': 'බෝධා'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'නි', 'last2_letters': 'ශානි'},
 {'last_letter': 'ස', 'last2_letters': 'දාස'},
 {'last_letter': 'ණී', 'last2_letters': 'මිණී'},
 {'last_letter': 'යා', 'last2_letters': 'ද්යා'},
 {'last_letter': 'දා', 'last2_letters': 'මෝදා'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'න්', 'last2_letters': 'හාන්'},
 {'last_letter': 'ක්', 'last2_letters': 'ලක්'},
 {'last_letter': 'ත්', 'last2_letters': 'මිත්'},
 {'last_letter': 'ග', 'last2_letters': 'රංග'},
 {'last_letter': 'රි', 'last2_letters': 'සිරි'},
 {'last_letter': 'ලි', 'last2_letters': 'න්ලි'},
 {'last_letter': 'ප', 'last2_letters': 'චාප'},
 {'last_letter': 'ණී', 'last2_letters': 'මිණී'},
 {'last_letter': 'ල', 'last2_letters': 'දුල'},
 {'last_letter': 'නී', 'last2_letters': 'ලනී'},
 {'last_letter': 'ලා', 'last2_letters': 'සිලා'},
 {'last_letter': 'ඳු', 'last2_letters': 'විඳු'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'කා', 'last2_letters': 'ජිකා'},
 {'last_letter': 'කා', 'last2_letters': 'දිකා'},
 {'last_letter': 'යා', 'last2_letters': 'න්යා'},
 {'last_letter': 'න්', 'last2_letters': 'හන්'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'ක', 'last2_letters': 'ෂ්ක'},
 {'last_letter': 'ටි', 'last2_letters': 'ස්ටි'},
 {'last_letter': 'ක', 'last2_letters': 'තක'},
 {'last_letter': 'න්', 'last2_letters': 'ටන්'},
 {'last_letter': 'ක', 'last2_letters': 'ලක'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'ෂා', 'last2_letters': 'රේෂා'},
 {'last_letter': 'ණි', 'last2_letters': 'මිණි'},
 {'last_letter': 'න්', 'last2_letters': 'ජන්'},
 {'last_letter': 'ලූ', 'last2_letters': 'නෙලූ'},
 {'last_letter': 'න්', 'last2_letters': 'ලින්'},
 {'last_letter': 'ග', 'last2_letters': 'රංග'},
 {'last_letter': 'මා', 'last2_letters': 'ෂීමා'},
 {'last_letter': 'ක්', 'last2_letters': 'ෂාක්'},
 {'last_letter': 'නී', 'last2_letters': 'තනී'},
 {'last_letter': 'න්', 'last2_letters': 'යාන්'},
 {'last_letter': 'ණි', 'last2_letters': 'රාණි'},
 {'last_letter': 'කා', 'last2_letters': 'ෂිකා'},
 {'last_letter': 'රු', 'last2_letters': 'යුරු'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'මි', 'last2_letters': 'ත්මි'},
 {'last_letter': 'නි', 'last2_letters': 'මනි'},
 {'last_letter': 'න්', 'last2_letters': 'බන්'},
 {'last_letter': 'කා', 'last2_letters': 'ශිකා'},
 {'last_letter': 'ය', 'last2_letters': 'ල්ය'},
 {'last_letter': 'ෂා', 'last2_letters': 'මීෂා'},
 {'last_letter': 'නි', 'last2_letters': 'ලනි'},
 {'last_letter': 'ව', 'last2_letters': 'ජීව'},
 {'last_letter': 'න්', 'last2_letters': 'සන්'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'ඩ්', 'last2_letters': 'න්ඩ්'},
 {'last_letter': 'ඳු', 'last2_letters': 'නිඳු'},
 {'last_letter': 'න්', 'last2_letters': 'සුන්'},
 {'last_letter': 'න්', 'last2_letters': 'වන්'},
 {'last_letter': 'න්', 'last2_letters': 'ටන්'},
 {'last_letter': 'ල', 'last2_letters': 'ධුල'},
 {'last_letter': 'ත්', 'last2_letters': 'පත්'},
 {'last_letter': 'ර', 'last2_letters': 'ධුර'},
 {'last_letter': 'ව', 'last2_letters': 'ධව'},
 {'last_letter': 'කා', 'last2_letters': 'පිකා'},
 {'last_letter': 'ලී', 'last2_letters': 'මලී'},
 {'last_letter': 'කා', 'last2_letters': 'තිකා'},
 {'last_letter': 'නි', 'last2_letters': 'ලානි'},
 {'last_letter': 'කා', 'last2_letters': 'රිකා'},
 {'last_letter': 'ස', 'last2_letters': 'දාස'},
 {'last_letter': 'නි', 'last2_letters': 'ෂානි'},
 {'last_letter': 'ඳු', 'last2_letters': 'නිඳු'},
 {'last_letter': 'ක', 'last2_letters': 'නික'},
 {'last_letter': 'ණි', 'last2_letters': 'රාණි'},
 {'last_letter': 'රි', 'last2_letters': 'සිරි'},
 {'last_letter': 'ධි', 'last2_letters': 'ද්ධි'},
 {'last_letter': 'න', 'last2_letters': 'දන'},
 {'last_letter': 'න්', 'last2_letters': 'ශාන්'},
 {'last_letter': 'යා', 'last2_letters': 'ක්යා'},
 {'last_letter': 'ර', 'last2_letters': 'ද්ර'},
 {'last_letter': 'තා', 'last2_letters': 'ලතා'},
 {'last_letter': 'ග', 'last2_letters': 'රංග'},
 {'last_letter': 'ත්', 'last2_letters': 'සිත්'},
 {'last_letter': 'ණි', 'last2_letters': 'රුණි'},
 {'last_letter': 'දි', 'last2_letters': 'න්දි'},
 {'last_letter': 'න්', 'last2_letters': 'වින්'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'මි', 'last2_letters': 'ත්මි'},
 {'last_letter': 'ඳු', 'last2_letters': 'මිඳු'},
 {'last_letter': 'රා', 'last2_letters': 'ත්රා'},
 {'last_letter': 'ත්', 'last2_letters': 'මුත්'},
 {'last_letter': 'ශ', 'last2_letters': 'දේශ'},
 {'last_letter': 'ලි', 'last2_letters': 'ස්ලි'},
 {'last_letter': 'කා', 'last2_letters': 'ලිකා'},
 {'last_letter': 'ක', 'last2_letters': 'ෂ්ක'},
 {'last_letter': 'රි', 'last2_letters': 'සුරි'},
 {'last_letter': 'තා', 'last2_letters': 'න්තා'},
 {'last_letter': 'සි', 'last2_letters': 'ර්සි'},
 {'last_letter': 'කා', 'last2_letters': 'ලංකා'},
 {'last_letter': 'ත', 'last2_letters': 'දිත'},
 {'last_letter': 'ස්', 'last2_letters': 'න්ස්'},
 {'last_letter': 'ණු', 'last2_letters': 'මුණු'},
 {'last_letter': 'මි', 'last2_letters': 'ශ්මි'},
 {'last_letter': 'රී', 'last2_letters': 'ත්රී'},
 {'last_letter': 'ෂි', 'last2_letters': 'ර්ෂි'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'කා', 'last2_letters': 'ධිකා'},
 {'last_letter': 'ඟු', 'last2_letters': 'ළිඟු'},
 {'last_letter': 'න', 'last2_letters': 'ත්න'},
 {'last_letter': 'ල', 'last2_letters': 'සුල'},
 {'last_letter': 'රි', 'last2_letters': 'සිරි'},
 {'last_letter': 'කා', 'last2_letters': 'රිකා'},
 {'last_letter': 'ක', 'last2_letters': 'යක'},
 {'last_letter': 'ත්', 'last2_letters': 'දත්'},
 {'last_letter': 'ර', 'last2_letters': 'සිර'},
 {'last_letter': 'ක', 'last2_letters': 'නුක'},
 {'last_letter': 'ත්', 'last2_letters': 'ගීත්'},
 {'last_letter': 'ණ', 'last2_letters': 'ලිණ'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'ෂා', 'last2_letters': 'නූෂා'},
 {'last_letter': 'යා', 'last2_letters': 'ම්යා'},
 {'last_letter': 'ල්', 'last2_letters': 'මාල්'},
 {'last_letter': 'කි', 'last2_letters': 'ල්කි'},
 {'last_letter': 'න්', 'last2_letters': 'ෂාන්'},
 {'last_letter': 'ෂි', 'last2_letters': 'මාෂි'},
 {'last_letter': 'රී', 'last2_letters': 'මරී'},
 {'last_letter': 'ස්', 'last2_letters': 'න්ස්'},
 {'last_letter': 'ලි', 'last2_letters': 'මාලි'},
 {'last_letter': 'නි', 'last2_letters': 'ෂානි'},
 {'last_letter': 'රි', 'last2_letters': 'සිරි'},
 {'last_letter': 'ක', 'last2_letters': 'නක'},
 {'last_letter': 'න්', 'last2_letters': 'ශාන්'},
 {'last_letter': 'ල්', 'last2_letters': 'සෙල්'},
 {'last_letter': 'ෂි', 'last2_letters': 'රුෂි'},
 {'last_letter': 'ර', 'last2_letters': 'දාර'},
 {'last_letter': 'ර', 'last2_letters': 'ෂාර'},
 {'last_letter': 'ත', 'last2_letters': 'ප්ත'},
 {'last_letter': 'ක', 'last2_letters': 'මික'},
 {'last_letter': 'කා', 'last2_letters': 'ලිකා'},
 {'last_letter': 'ර', 'last2_letters': 'ද්ර'},
 {'last_letter': 'කා', 'last2_letters': 'ෂිකා'},
 {'last_letter': 'න්', 'last2_letters': 'රූන්'},
 {'last_letter': 'රි', 'last2_letters': 'න්රි'},
 {'last_letter': 'ලා', 'last2_letters': 'නීලා'},
 {'last_letter': 'නි', 'last2_letters': 'ෂානි'},
 {'last_letter': 'නි', 'last2_letters': 'ලානි'},
 {'last_letter': 'ඳි', 'last2_letters': 'නිඳි'},
 {'last_letter': 'කා', 'last2_letters': 'මිකා'},
 {'last_letter': 'ජු', 'last2_letters': 'රාජු'},
 {'last_letter': 'යා', 'last2_letters': 'රියා'},
 {'last_letter': 'නී', 'last2_letters': 'ධිනී'},
 {'last_letter': 'ර', 'last2_letters': 'ධර'},
 {'last_letter': 'තා', 'last2_letters': 'රිතා'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'කා', 'last2_letters': 'නිකා'},
 {'last_letter': 'ත්', 'last2_letters': 'රිත්'},
 {'last_letter': 'යා', 'last2_letters': 'මායා'},
 {'last_letter': 'කා', 'last2_letters': 'දිකා'},
 {'last_letter': 'ල්', 'last2_letters': 'විල්'},
 {'last_letter': 'ඳු', 'last2_letters': 'රිඳු'},
 {'last_letter': 'ගි', 'last2_letters': 'රංගි'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'නි', 'last2_letters': 'ෂිනි'},
 {'last_letter': 'රි', 'last2_letters': 'ගෞරි'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'ෂ', 'last2_letters': 'ක්ෂ'},
 {'last_letter': 'ෂා', 'last2_letters': 'නූෂා'},
 {'last_letter': 'ර්', 'last2_letters': 'ටර්'},
 {'last_letter': 'ලි', 'last2_letters': 'මාලි'},
 {'last_letter': 'කා', 'last2_letters': 'ල්කා'},
 {'last_letter': 'ක', 'last2_letters': 'නක'},
 {'last_letter': 'දි', 'last2_letters': 'න්දි'},
 {'last_letter': 'ත්', 'last2_letters': 'ජිත්'},
 {'last_letter': 'නි', 'last2_letters': 'විනි'},
 {'last_letter': 'න්', 'last2_letters': 'ෂන්'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'න්', 'last2_letters': 'වන්'},
 {'last_letter': 'ත', 'last2_letters': 'දිත'},
 {'last_letter': 'ලා', 'last2_letters': 'නුලා'},
 {'last_letter': 'ත්', 'last2_letters': 'නෙත්'},
 {'last_letter': 'ල්', 'last2_letters': 'මල්'},
 {'last_letter': 'නි', 'last2_letters': 'වනි'},
 {'last_letter': 'තා', 'last2_letters': 'ජතා'},
 {'last_letter': 'කා', 'last2_letters': 'ෂ්කා'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'ර', 'last2_letters': 'දුර'},
 {'last_letter': 'ත්', 'last2_letters': 'ජිත්'},
 {'last_letter': 'මා', 'last2_letters': 'රේමා'},
 {'last_letter': 'ඳු', 'last2_letters': 'නිඳු'},
 {'last_letter': 'න', 'last2_letters': 'ශන'},
 {'last_letter': 'ග', 'last2_letters': 'රංග'},
 {'last_letter': 'ක', 'last2_letters': 'සංක'},
 {'last_letter': 'ත', 'last2_letters': 'දිත'},
 {'last_letter': 'න්', 'last2_letters': 'ෂාන්'},
 {'last_letter': 'ණී', 'last2_letters': 'ෂණී'},
 {'last_letter': 'න', 'last2_letters': 'වන'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'නි', 'last2_letters': 'ශානි'},
 {'last_letter': 'ත', 'last2_letters': 'ලිත'},
 {'last_letter': 'නී', 'last2_letters': 'කිනී'},
 {'last_letter': 'න්', 'last2_letters': 'වන්'},
 {'last_letter': 'සි', 'last2_letters': 'ර්සි'},
 {'last_letter': 'ක', 'last2_letters': 'ධික'},
 {'last_letter': 'නි', 'last2_letters': 'රානි'},
 {'last_letter': 'න්', 'last2_letters': 'මන්'},
 {'last_letter': 'ඳු', 'last2_letters': 'මිඳු'},
 {'last_letter': 'ෂා', 'last2_letters': 'නේෂා'},
 {'last_letter': 'ල', 'last2_letters': 'සල'},
 {'last_letter': 'ලා', 'last2_letters': 'ජුලා'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'ණි', 'last2_letters': 'ෂිණි'},
 {'last_letter': 'ලි', 'last2_letters': 'ස්ලි'},
 {'last_letter': 'ල්', 'last2_letters': 'මාල්'},
 {'last_letter': 'ල්', 'last2_letters': 'පාල්'},
 {'last_letter': 'රා', 'last2_letters': 'ද්රා'},
 {'last_letter': 'න්', 'last2_letters': 'ෂන්'},
 {'last_letter': 'ජා', 'last2_letters': 'රංජා'},
 {'last_letter': 'ක', 'last2_letters': 'දීක'},
 {'last_letter': 'නී', 'last2_letters': 'ගනී'},
 {'last_letter': 'ල්', 'last2_letters': 'නෙල්'},
 {'last_letter': 'තා', 'last2_letters': 'මිතා'},
 {'last_letter': 'නි', 'last2_letters': 'ෂානි'},
 {'last_letter': 'න්', 'last2_letters': 'හාන්'},
 {'last_letter': 'ත්', 'last2_letters': 'ගත්'},
 {'last_letter': 'ය', 'last2_letters': 'දය'},
 {'last_letter': 'රා', 'last2_letters': 'සරා'},
 {'last_letter': 'දා', 'last2_letters': 'න්දා'},
 {'last_letter': 'න්', 'last2_letters': 'යාන්'},
 {'last_letter': 'ද', 'last2_letters': 'න්ද'},
 {'last_letter': 'තා', 'last2_letters': 'න්තා'},
 {'last_letter': 'ප', 'last2_letters': 'දීප'},
 {'last_letter': 'ලී', 'last2_letters': 'ජලී'},
 {'last_letter': 'නා', 'last2_letters': 'චනා'},
 {'last_letter': 'ර', 'last2_letters': 'හාර'},
 {'last_letter': 'රි', 'last2_letters': 'දාරි'},
 {'last_letter': 'රි', 'last2_letters': 'ලාරි'},
 {'last_letter': 'රා', 'last2_letters': 'මරා'},
 {'last_letter': 'නී', 'last2_letters': 'ෂිනී'},
 {'last_letter': 'ත', 'last2_letters': 'න්ත'},
 {'last_letter': 'ක', 'last2_letters': 'ලංක'},
 {'last_letter': 'ෂා', 'last2_letters': 'දීෂා'},
 {'last_letter': 'නා', 'last2_letters': 'හානා'},
 {'last_letter': 'තා', 'last2_letters': 'දිතා'},
 {'last_letter': 'කා', 'last2_letters': 'ෂිකා'},
 {'last_letter': 'ජ්', 'last2_letters': 'රාජ්'},
 {'last_letter': 'රා', 'last2_letters': 'තාරා'},
 {'last_letter': 'ර', 'last2_letters': 'ඩාර'},
 {'last_letter': 'ෂා', 'last2_letters': 'යාෂා'},
 {'last_letter': 'ඳු', 'last2_letters': 'විඳු'},
 {'last_letter': 'ගි', 'last2_letters': 'රංගි'},
 {'last_letter': 'ෂ', 'last2_letters': 'ක්ෂ'},
 {'last_letter': 'ත්', 'last2_letters': 'මිත්'},
 {'last_letter': 'ති', 'last2_letters': 'න්ති'},
 {'last_letter': 'ග', 'last2_letters': 'ලංග'},
 {'last_letter': 'ප', 'last2_letters': 'ල්ප'},
 {'last_letter': 'මා', 'last2_letters': 'ත්මා'},
 {'last_letter': 'න්', 'last2_letters': 'දුන්'},
 {'last_letter': 'ත්', 'last2_letters': 'සත්'},
 {'last_letter': 'ක', 'last2_letters': 'සංක'},
 {'last_letter': 'ර', 'last2_letters': 'මාර'},
 {'last_letter': 'ර', 'last2_letters': 'ගර'},
 {'last_letter': 'මි', 'last2_letters': 'යාමි'},

In [39]:
#take the labels of the names
data_Y = data['label']

In [40]:
from sklearn.feature_extraction import DictVectorizer

In [41]:
#trainAnd test split
XD_train,XD_test,YD_train,YD_test = train_test_split(data_X,data_Y,test_size=0.3,random_state=20)

In [42]:
#display the first 10 training features
XD_train[:10]

[{'last_letter': 'ලා', 'last2_letters': 'නීලා'},
 {'last_letter': 'න්', 'last2_letters': 'ෂන්'},
 {'last_letter': 'ල්', 'last2_letters': 'සෙල්'},
 {'last_letter': 'මි', 'last2_letters': 'ශ්මි'},
 {'last_letter': 'ලා', 'last2_letters': 'මිලා'},
 {'last_letter': 'න්', 'last2_letters': 'ෂාන්'},
 {'last_letter': 'කා', 'last2_letters': 'තිකා'},
 {'last_letter': 'දි', 'last2_letters': 'න්දි'},
 {'last_letter': 'රා', 'last2_letters': 'මරා'},
 {'last_letter': 'රි', 'last2_letters': 'සිරි'}]

In [43]:
#display the first ten training labels 
YD_train[:10]

295    0
367    1
284    0
254    0
109    0
345    1
53     0
323    0
388    0
83     1
Name: label, dtype: int64

In [44]:
Dict_vectorizer = DictVectorizer()# define the dict vectorizer to transform the dictionary to sparce matrix of features
Dict_vectorizer.fit_transform(XD_train) #train and transform the train data

<319x292 sparse matrix of type '<class 'numpy.float64'>'
	with 638 stored elements in Compressed Sparse Row format>

In [45]:
Xtrain_features = Dict_vectorizer.transform(XD_train)#transform the train data
Xtest_features = Dict_vectorizer.transform(XD_test)#transform the test data

In [46]:
#define classifers
mnb2 = MultinomialNB() 
svm2 = SGDClassifier(loss='hinge', max_iter=100)

In [47]:
#train the multinomial naive bayes classfier
mnb2.fit(Xtrain_features,YD_train)

MultinomialNB()

In [48]:
#predict the multinomial naive bayes classfier
mnb2_predictions = mnb2.predict(Xtest_features)

In [49]:
#call the get metrics function to get the evaluation metrics
get_metrics(true_labels=YD_test,predicted_labels=mnb2_predictions)

Accuracy: 0.97
Precision: 0.97
Recall: 0.97
F1 Score: 0.97

In [50]:
#call the inbuild confusion matrix to get the confusion matrix
confusion_matrix(YD_test,mnb2_predictions)

array([[60,  4],
       [ 0, 74]], dtype=int64)

In [51]:
#train the multinomial svm classfier
svm2.fit(Xtrain_features,YD_train)

SGDClassifier(max_iter=100)

In [52]:
svm2_predictions = svm2.predict(Xtest_features) #predict
get_metrics(true_labels=YD_test,predicted_labels=svm2_predictions) # get the evaluation metrics

Accuracy: 0.96
Precision: 0.97
Recall: 0.96
F1 Score: 0.96

In [53]:
confusion_matrix(YD_test,svm2_predictions) # get confusion metrics

array([[59,  5],
       [ 0, 74]], dtype=int64)

From the above two classifiers, naive bayes has performed better than svm classifer

##### output the names together with their predicted and actual genders for the errors of your best classifier

In [54]:
df = data.iloc[YD_test.index.tolist()] #slice the original dataframe to create dataframe of the test data

In [55]:
df['predicted_label'] = mnb2_predictions.tolist() #add a column of predicted values of naive bayes

C:\Users\thanu\anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
#add a column of the actual labels with 'male' and 'female',  for the iterate the values of the labels and append a label
#from male or female to the created kist by comparing whether it is 1 or 0
list1 = []
for i in df['label']:
    if i == 1:
        list1.append('male')
    else :
        list1.append('female')
df.loc[:,'actual label'] = list1

C:\Users\thanu\anaconda3\envs\py37\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\thanu\anaconda3\envs\py37\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [57]:
#add a column of the predicted labels with 'male' and 'female',  for the iterate the values of the labels and append a label
#from male or female to the created kist by comparing whether it is 1 or 0
list2 = []
for i in df['predicted_label']:
    if i == 1:
        list2.append('male')
    else :
        list2.append('female')
df.loc[:,'predicted label'] = list2

In [58]:
df.drop(['label','predicted_label'], axis=1) #remove the label and predicted label column with 1s and 0s

          names actual label predicted label
13        ධනපාල         male            male
267        සනුක         male            male
106      මධුසංඛ         male            male
47   ක්‍රිස්ටෝප         male            male
74     විරාජිනී       female          female
..          ...          ...             ...
128      යුරේෂ්         male            male
444       අංජලී       female          female
337       විදුර         male            male
327     දමයන්ති       female          female
256       හර්ෂි       female          female

[138 rows x 3 columns]

In [64]:
for index, row in df.iterrows():
    if row['actual label'] != row['predicted label']:
        print({'names':row['names'],'actual label': row['actual label'],'predicted label':row['predicted label']})

{'names': 'මාලතී', 'actual label': 'female', 'predicted label': 'male'}
{'names': 'නේරංජා', 'actual label': 'female', 'predicted label': 'male'}
{'names': 'කුසුම්', 'actual label': 'female', 'predicted label': 'male'}
{'names': 'ගයංගා', 'actual label': 'female', 'predicted label': 'male'}

In [59]:
#define a function to get the most siginificant features to classify the names
def significant_features(vectorizer,classifier,n=20):
    class_labels = classifier.classes_ #get the class labels passsed to the classifer
    feature_names =vectorizer.get_feature_names() #get the features names from the vectorizer
    topn_female = sorted(zip(classifier.feature_count_[0], 
    feature_names),reverse=True)[:n] #pair the features count of female label[0] with feature names and sort those in descending order
    listfemale = [] #create a list to get the important features to identify female names
    for i in topn_female:
        listfemale.append(i[1])
    topn_male = sorted(zip(classifier.feature_count_[1], 
    feature_names),reverse=True)[:n]#pair the features count of male label[0] with feature names and sort those in descending order
    listmale=[]#create a list to get the important features to identify male names
    for i in topn_male:
        listmale.append(i[1])
    print("significant features of males : {} ".format(listmale))
    print()
    print("significant features of females : {} ".format(listfemale))

In [60]:
significant_features(Dict_vectorizer,mnb2)

significant features of males : ['last_letter=න්', 'last_letter=ත්', 'last_letter=ත', 'last_letter=ක', 'last_letter=ර', 'last2_letters=න්ත', 'last_letter=ල්', 'last_letter=ද', 'last2_letters=න්ද', 'last_letter=ඳු', 'last_letter=ග', 'last_letter=රි', 'last_letter=න', 'last2_letters=ෂාන්', 'last_letter=ලි', 'last_letter=ල', 'last_letter=ය', 'last2_letters=සිරි', 'last2_letters=රංග', 'last_letter=ව']

significant features of females : ['last_letter=කා', 'last_letter=නි', 'last_letter=ලා', 'last_letter=ෂා', 'last_letter=නී', 'last_letter=තා', 'last_letter=ණි', 'last_letter=රි', 'last_letter=රා', 'last_letter=මි', 'last_letter=නා', 'last_letter=දි', 'last_letter=ති', 'last2_letters=න්ති', 'last_letter=යා', 'last_letter=ණී', 'last2_letters=ෂිකා', 'last2_letters=ෂානි', 'last_letter=ලි', 'last_letter=රී']